<div style="display: flex; flex-direction: column; gap: 16px">
  <h2>Alocação em Carteiras</h2>

  <button mat-button (click)="abrirModal()">Nova carteira</button>

  <div style="display: flex; flex-wrap: wrap; gap: 16px">
    @for (item of carteiras(); track item) {
      <app-carteira [carteira]="item" (editar)="abrirModal(item)" (excluir)="excluirCarteira(item)" />
    }
  </div>
</div>

<ng-template #templateModalCarteira>
  <h2 matDialogTitle>Nova Carteira</h2>

  <mat-dialog-content>
    <form [formGroup]="carteiraForm" (ngSubmit)="salvarCarteira()">
      <div style="display: flex; flex-direction: column">
        <mat-form-field style="width: 100%">
          <mat-label>Nome da Carteira</mat-label>
          <input matInput placeholder="Banco do Brasil" [formControl]="carteiraForm.controls.titulo" required />
        </mat-form-field>

        <div style="display: flex; justify-content: space-between; gap: 16px">
          <div style="display: flex; flex-direction: column">
            <mat-form-field>
              <mat-label>Limite total de crédito</mat-label>
              <input matInput type="number" [formControl]="carteiraForm.controls.limiteCreditoTotal" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-flat-button matDialogClose>Cancelar</button>
    <button mat-flat-button (click)="salvarCarteira()">Salvar</button>
  </mat-dialog-actions>
</ng-template>
