.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 16px;
  min-height: 400px;
  min-width: 320px;
}

mat-tab-group {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
}

form {
  a, button, mat-form-field {
    width: 100%;
  }
  a, button {
    margin-bottom: 16px;
  }
}

a {
  color: white;
  text-decoration: none;
}
