.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 32px;
}

mat-tab-group {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
}
