<mat-drawer-container style="height: 100vh; width: 100vw">
  <mat-drawer mode="side" opened>
    <mat-list style="justify-content: space-between">
      <mat-nav-list dense>
        <h1 mat-subheader>Disorder App</h1>
        <div style="padding: 16px 0"><mat-divider /></div>
        <a mat-list-item [routerLink]="['/', 'transacoes']">
          <div class="list-item">
            <mat-icon>timeline</mat-icon>
            <span>Resumo</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="['/', 'transacoes']">
          <div class="list-item">
            <mat-icon>payments</mat-icon>
            <span>Transações</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="['/', 'carteiras']">
          <div class="list-item">
            <mat-icon>wallet</mat-icon>
            <span>Minhas Carteiras</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="['/', 'categorias']">
          <div class="list-item">
            <mat-icon>bookmark</mat-icon>
            <span>Categorias</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="['/', 'transacoes']">
          <div class="list-item">
            <mat-icon>group</mat-icon>
            <span>Consultoria</span>
          </div>
        </a>
      </mat-nav-list>
      <mat-nav-list dense>
        <div style="padding: 16px 0"><mat-divider /></div>
        <a mat-list-item tabindex="0" (click)="toggleTheme()" (keyup.enter)="toggleTheme()" (keyup.space)="toggleTheme()">
          <div class="list-item">
            <mat-icon>bedtime</mat-icon>
            <span>Alterar Tema</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="['/', 'login']">
          <div class="list-item">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </div>
        </a>
      </mat-nav-list>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
